Repository Infomaniak/desktop-kDrive, pull requests merged in 2024-08, with the labels that each got.

#240 Remove path from error widgets and update traduction.
  src/gui/parametersdialog.cpp
  translations/client_de.ts
  translations/client_es.ts
  translations/client_fr.ts
  translations/client_it.ts
Labels: 3.6.3

#242 Allow lastModTime < 0 in csv parsing.
  src/libsyncengine/jobs/network/csvfullfilelistwithcursorjob.cpp
  test/libsyncengine/jobs/network/testsnapshotitemhandler.cpp
Labels: bug

#244 [KDESKTOP-1106] Normalize file and directory names when inserted in sync DB
  src/libcommonserver/db/db.h
  src/libcommonserver/db/sqlitedb.cpp
  src/libcommonserver/db/sqlitedb.h
  src/libcommonserver/utility/utility.cpp
  src/libcommonserver/utility/utility.h
  src/libsyncengine/db/dbnode.cpp
  src/libsyncengine/db/dbnode.h
  src/libsyncengine/db/syncdb.cpp
  src/libsyncengine/db/syncdb.h
  src/libsyncengine/update_detection/file_system_observer/computefsoperationworker.cpp
  src/libsyncengine/update_detection/update_detector/node.cpp
  src/libsyncengine/update_detection/update_detector/node.h
  src/server/socketlistener.cpp
  test/libcommonserver/utility/testutility.cpp
  test/libcommonserver/utility/testutility.h
  test/libsyncengine/db/testsyncdb.cpp
  test/libsyncengine/db/testsyncdb.h
  test/libsyncengine/update_detection/update_detector/testupdatetree.cpp
  test/libsyncengine/update_detection/update_detector/testupdatetree.h
Labels: bug, 3.6.4

#245 [KDESKTOP-1112] Fix issue with UploadSession of file over the size limit.
  src/libsyncengine/propagation/executor/executorworker.cpp
  src/server/socketlistener.cpp
Labels: bug, 3.6.4

#246 [KDESKTOP-1113] Edit sentry message.
  src/libcommonserver/io/iohelper_win.cpp
Labels: 3.6.4

#247 TestRemoteFileSystemObserverWorker should be in a remoteTmpDir and not in the test_ci dir.
  test/libsyncengine/update_detection/file_system_observer/testremotefilesystemobserverworker.cpp
Labels: 4.0.0

#239 [KDESKTOP-1101] Two optimisations of UC time in utility functions
  src/libcommon/utility/utility.cpp
  src/libcommonserver/io/iohelper.cpp
  test/libcommonserver/io/testcheckifpathexists.cpp
  test/libcommonserver/io/testgetfilestat.cpp
  test/libcommonserver/io/testio.h
Labels: 4.0.0

#249 Handling inconsistencies in the update tree
  src/3rdparty/keychain/test/catch.hpp
  src/libsyncengine/jobs/network/csvfullfilelistwithcursorjob.cpp
  src/libsyncengine/propagation/executor/executorworker.cpp
  src/libsyncengine/reconciliation/platform_inconsistency_checker/platforminconsistencycheckerworker.cpp
  src/libsyncengine/update_detection/update_detector/node.cpp
  src/libsyncengine/update_detection/update_detector/node.h
  src/libsyncengine/update_detection/update_detector/updatetree.cpp
  src/libsyncengine/update_detection/update_detector/updatetree.h
  src/libsyncengine/update_detection/update_detector/updatetreeworker.cpp
  src/libsyncengine/update_detection/update_detector/updatetreeworker.h
  test/libsyncengine/propagation/executor/testexecutorworker.cpp
  test/libsyncengine/propagation/operation_sorter/testoperationsorterworker.cpp
  test/libsyncengine/reconciliation/conflict_finder/testconflictfinderworker.cpp
  test/libsyncengine/reconciliation/conflict_resolver/testconflictresolverworker.cpp
  test/libsyncengine/reconciliation/operation_generator/testoperationgeneratorworker.cpp
  test/libsyncengine/reconciliation/platform_inconsistency_checker/testplatforminconsistencycheckerworker.cpp
  test/libsyncengine/update_detection/update_detector/testupdatetree.cpp
  test/libsyncengine/update_detection/update_detector/testupdatetree.h
  test/libsyncengine/update_detection/update_detector/testupdatetreeworker.cpp
Labels: 4.0.0
