Repository Infomaniak/desktop-kDrive, pull requests merged in 2024-10, with the labels that each got.

#333 Certificate updated
  embedded.provisionprofile
Labels: 3.6.6

#317 Indicate which zip file should be downloaded for Sentry on Windows
  infomaniak-build-tools/linux/Readme.md
  infomaniak-build-tools/macos/Readme.md
  infomaniak-build-tools/windows/Readme.md
Labels: 3.6.7

#311 Close parmsDb before we destroyed the logger.
  src/server/appserver.cpp
Labels: 3.6.7

#299 Simplifies the implementation of CommonUtility::isVersionLower
  src/libcommon/utility/utility.cpp
  test/libcommon/utility/testutility.cpp
Labels: 3.6.7

#331 Protect jobs _additionalCallback with a mutex to avoid sig segv.
  src/libsyncengine/jobs/abstractjob.cpp
  src/libsyncengine/jobs/abstractjob.h
Labels: 3.6.7

#309 [KDESKTOP-1223] Let the Windows CI runner manage the Sonar Cloud analysis, including code coverage
  .github/workflows/windows.yml
  infomaniak-build-tools/windows/build-drive.ps1
Labels: 3.6.7

#301 Adresse maxPathLength issue on Windows.
  src/libcommon/utility/utility.cpp
  src/libcommon/utility/utility.h
  src/libsyncengine/reconciliation/conflict_resolver/conflictresolverworker.cpp
  src/libsyncengine/reconciliation/platform_inconsistency_checker/platforminconsistencycheckerutility.cpp
  src/libsyncengine/reconciliation/platform_inconsistency_checker/platforminconsistencycheckerutility.h
  src/libsyncengine/update_detection/file_system_observer/computefsoperationworker.cpp
Labels: 3.6.7

#342 Kdesktop 1237 fix issue with get file stat handling symlinks and junctions
  src/libcommonserver/io/iohelper.cpp
  src/libcommonserver/io/iohelper.h
  src/libcommonserver/io/iohelper_linux.cpp
  src/libcommonserver/io/iohelper_mac.cpp
  src/libcommonserver/io/iohelper_win.cpp
  test/libcommonserver/CMakeLists.txt
  test/libcommonserver/io/testchecksetgetrights.cpp
  test/libcommonserver/io/testcreatesymlink.cpp
  test/libcommonserver/io/testgetfilesize.cpp
  test/libcommonserver/io/testgetfilestat.cpp
  test/libcommonserver/io/testgetitemtype.cpp
  test/libcommonserver/io/testgetrights.cpp
  test/libcommonserver/io/testio.h
Labels: 3.6.7

#346 Kdesktop 1272 investigate in the executor step a file not found error is processed as a system error
  src/libcommon/theme/theme.cpp
  src/libcommonserver/vfs.h
  src/libsyncengine/propagation/executor/executorworker.cpp
  src/libsyncengine/propagation/executor/executorworker.h
  src/libsyncengine/syncpal/syncpal.cpp
  src/libsyncengine/syncpal/syncpal.h
  src/libsyncengine/update_detection/file_system_observer/snapshot/snapshot.cpp
  src/server/appserver.cpp
  src/server/appserver.h
  src/server/vfs/mac/litesyncextconnector.mm
  src/server/vfs/mac/vfs_mac.cpp
  src/server/vfs/mac/vfs_mac.h
  src/server/vfs/win/vfs_win.cpp
  src/server/vfs/win/vfs_win.h
  test/libsyncengine/db/testsyncdb.cpp
  test/libsyncengine/jobs/network/testnetworkjobs.cpp
  test/libsyncengine/jobs/testjobmanager.cpp
  test/libsyncengine/propagation/executor/testexecutorworker.cpp
  test/libsyncengine/propagation/executor/testintegration.cpp
  test/libsyncengine/propagation/operation_sorter/testoperationsorterworker.cpp
  test/libsyncengine/reconciliation/conflict_finder/testconflictfinderworker.cpp
  test/libsyncengine/reconciliation/conflict_resolver/testconflictresolverworker.cpp
  test/libsyncengine/reconciliation/operation_generator/testoperationgeneratorworker.cpp
  test/libsyncengine/reconciliation/platform_inconsistency_checker/testplatforminconsistencycheckerworker.cpp
  test/libsyncengine/requests/testexclusiontemplatecache.cpp
  test/libsyncengine/syncpal/testsyncpal.cpp
  test/libsyncengine/update_detection/file_system_observer/testcomputefsoperationworker.cpp
  test/libsyncengine/update_detection/file_system_observer/testlocalfilesystemobserverworker.cpp
  test/libsyncengine/update_detection/file_system_observer/testremotefilesystemobserverworker.cpp
  test/libsyncengine/update_detection/update_detector/testupdatetreeworker.cpp
  test/server/CMakeLists.txt
  test/server/test.cpp
  test/server/updater/testabstractupdater.cpp
  test/server/updater/testupdater.h
  test/server/workers/testworkers.cpp
  test/server/workers/testworkers.h
  test/test_utility/testhelpers.h
Labels: 3.6.7

#353 KDESKTOP-1305-File-path-not-found-in-Executor
  src/libsyncengine/progress/progressinfo.cpp
  src/libsyncengine/progress/progressinfo.h
  src/libsyncengine/progress/syncfileitem.h
  src/libsyncengine/syncpal/syncpal.cpp
  test/libsyncengine/syncpal/testsyncpal.cpp
  test/libsyncengine/syncpal/testsyncpal.h
Labels: not scheduled in current sprint

#306 [KDESKTOP-1129] Enables new compilation warnings with a view to sanitize code
  CMakeLists.txt
  src/3rdparty/keychain/src/keychain_mac.cpp
Labels: 3.6.7
